/* -*- css -*- */

html {
    font-size: 14px;
    font-family: serif;
}

body {
    margin: 0px;
    background-color: white;
}

a {
    color: #9e0b0b;
}

a:hover {
    color: red;
}

pre {
    background-color: white;
    border: 1px solid #9e0b0b;
    padding: 4px;
}

blockquote {
    border-left: 2px solid #9e0b0b;
    border-top: 1px solid #9e0b0b;
    border-right: 1px solid #9e0b0b;
    border-bottom: 1px solid #9e0b0b;
    background-color: white;
}

h1#planetname {
    border-bottom: 4px solid #9e0b0b;
    background-color: #dddddd;
    margin: 0px 0px 14px 0px;
}

.sidebar {
    float: right;
    border: 1px solid #9e0b0b;
    background-color: #dddddd;
    padding: 4px;
    margin: 4px;
    max-width: 300px;
}

.main {
    margin: 4px auto 4px auto;
    max-width: 50%;
}

.feed-list {
    list-style-type: none;
    margin-left: 14px;
    margin-right: 0px;
    padding: 0px;
}

.feed-icon {
    width: 16px;
    margin-right: 6px;
}

.new-date {
    border: 1px solid #9e0b0b;
    background-color: #dddddd;
    padding: 4px;
}

.new-channel {
    font-style: italic;
}

.new-channel a {
    text-decoration: none;
    color: black;
}

.article {
    border: 1px solid #9e0b0b;
    padding: 4px;
    background-color: #dddddd;
}

.subinfo {
    text-align: right;
    font-style: italic;
    margin: 4px;
}

/* Specific adaptions */

.line-numbers {
    display: none;
}
